<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body id="root">
    <script>
      const refesh = 33
      // You can also require other files to run in this process
      const GraphConfig = require('../lib/graph-config.js')
      const ipc = require('electron').ipcRenderer
      global.jQuery = require('jquery')
      global.d3 = require('d3');
      var Rickshaw = require('rickshaw');

      let now = new Date().getTime();
      let states = {}
      let url = new URL(window.location);
      let params = new URLSearchParams(url.search.substring(1));

      let sensors = params.get('sensors').split(',');
      let width = parseInt(params.get("width"));
      let height = parseInt(params.get("height")) / sensors.length;
      let root = document.getElementById("root");
      sensors.forEach(s => {
        var id = `chart-${GraphConfig[s].shortName}`;

        var div = document.createElement("div");
        div.setAttribute("id", id)
        root.appendChild(div)

        var graph = new Rickshaw.Graph({
          element: document.querySelector(`#${id}`),
          min: GraphConfig[s].min,
          max: GraphConfig[s].max,
          width: width,
          height: height,
          renderer: 'line',
          series: new Rickshaw.Series.FixedDuration(GraphConfig[s].attr, undefined, {
            timeInterval: refesh,
            maxDataPoints: 240,
            timeBase: now / 1000
          })
        });
        states[s] = {'graph': graph}
        graph.render();

        ipc.on(`update-${s}-${params.get('mac')}`, function (event, arg) {
          states[s]['graph'].series.addData(GraphConfig[s].unpack(arg));
        })
      })

      setInterval(() => {
        Object.values(states).forEach(e => e['graph'].render())
      }, refesh)
    </script>
  </body>
</html>
